@model List<Arhitektura.Models.TuristickaAgencija>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: 200px;
        object-fit: contain;
    }
</style>

<h2>Turističke agencije</h2>

<div class="row mb-3">
    @if (Context.Session.GetString("Role") == "admin")
    {
        <div class="col-md-4">
            <a asp-controller="TuristickaAgencija" asp-action="Create" class="btn btn-success">Dodaj turističku agenciju</a>
        </div>
    }
</div>

<div class="row">
    @foreach (var agencija in Model)
    {
        <div class="col-md-4 mb-4"> <!-- Added 'col-md-4' and 'mb-4' for horizontal and vertical spacing -->
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(agencija.Slika))
                {
                    <img src="@agencija.Slika" class="card-img-top" alt="Slika agencije">
                }
                else
                {
                    <img src="/images/notFound.png" class="card-img-top" alt="Slika agencije">
                }
                <div class="card-body">
                    <h5 class="card-title">@agencija.Naziv</h5>
                    <p class="card-text">
                        Adresa: @agencija.Adresa<br>
                        Kontakt: @agencija.Kontakt<br>
                    </p>
                    @if (Context.Session.GetString("Role") == "admin")
                    {
                        <a asp-controller="TuristickaAgencija" asp-action="Edit" asp-route-id="@agencija.Id" class="btn btn-success">Izmeni</a>
                        <a asp-controller="TuristickaAgencija" asp-action="Delete" asp-route-id="@agencija.Id" class="btn btn-secondary">Obriši</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
